/* Aula 02: Para criar uma classe ---> .nome_da_classe {} 
   Para estilizar um id ---> #nome_id{}

   Aula 03: cores, os padoes são rgb ou hexadecimal no body usei o hexd. para converter
   de hexa para rgb pasta buscar no google

   Aula 04: background 

   Aula 05: w3c

   Aula 06: Border 

   Aula 07: margim ---> espaçamento externo

   Aula 08: Padding ---> espaçamento interno

   Aula 09: box-shadow ---> sombra da caixa

   Aula 10: Ajustes de textos

   Aula 11: Google Fonts

   Aula 12: tag div
*/

body{
    /*
    background-image: url(/imagem/background.jpg);
    background-repeat: no-repeat;
    background-position: 100% 10%;----> empurra 100% da esquerda e 10% do topo
    background-position: center center; 
    background-size: cover;
    */
    background-color:#dfdfdf;
    font-family: 'Raleway', sans-serif;
    color:#222222;
}

.container{
    margin: 0 auto;
    width: 900px;
}


.foto-principal{
    border:2px solid #FFFFFF;/* A ordem é importante: espessura, style, cor*/
    border-radius: 50%;
    width: 250px;
    height: 260px;

    /*
    margin- top:30 px;
    margin-botton:100px;
    margin-rigth:30px
    margin-left:30px;

    */

    margin: 30px 30px 30px 30px; /* shorthand como todos os valores 
    são iguais poderia colocar apenas um.*/

    /*padding: 10px; espaçamento interno da foto*/

    box-shadow: 0px 0px 20px #959595;
}


h1{
    margin-bottom: 0;
    letter-spacing: -1px; /* espaçamento entre as letras*/ 
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    
}

h2{
    margin-top: 0;
    font-style: italic;
    color: rgb(73,73,73);
    font-weight: 100; /* espessura da fonte*/
    letter-spacing: -1px; /* espaçamento entre as letras*/ 
}
